<h2 id="title">Photoswipe Examples</h2>

<button class="btn" {{action "initGallery"}}>Open PhotoSwipe</button>
<button class="change-btn" {{action "changeItems"}}>Change Items</button>

{{#if photoSwipe}}
  {{photo-swipe gallery=myGallery options=psOpts items=items destroy=(action "destroyPhotoswipe")}}
{{/if}}

<br>

<h3>Example when passing a block</h3>

{{#photo-swipe options=psTwoOpts items=items}}

  {{#each model as |image|}}
    <a class="photo-item" href={{image.href}} data-width={{image.width}}
      data-height={{image.height}}>
      <img class="thumb" src={{image.href}} alt={{image.alt}}>
    </a>
  {{/each}}

{{/photo-swipe}}
